absl-py
altair
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Flask
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
semver
Send2Trash
six
sklearn
smmap
soupsieve
stack-data
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
tf-estimator-nightly
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
